@import '../../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    margin-bottom: 40px;
}

mat-card {
    display: flex;
    column-gap: 20px;

    .main_block {
        display: flex;
        flex-direction: column;

        form {
            display: flex;
            flex-wrap: wrap;
            column-gap: 5px;
            row-gap: 5px;
        }
    }

    .chips_form {
        justify-content: center;
        width: 100%;

        mat-form-field {
            width: 100%;
        }
    }

    .user_form {
        justify-content: space-around;

        mat-form-field {
            flex-grow: 1;
        }
    }
}

.display_none {
    display: none
}

.delete_button {
    width: 150px;
    margin-top: 15px;
}

.user-image {
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 30px;
}

.button_admin {
    margin: 10px 0;
    width: 150px;
}

.chip_image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.paginator_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .paginator_label {
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    mat-form-field {
        max-width: 70px;
    }
}

.review_title_block {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-left: 30px;
    margin-right: 30px;

    mat-button-toggle {
        width: 120px !important;
        font-size: 18px;
    }
}

.mat-button-toggle-checked {
    background-color: $color-purple;
}

::ng-deep .mat-button-toggle-checked button {
    color: white;
}

.review_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 20px;
    margin-bottom: 40px;

    mat-card {
        display: flex;
        flex-direction: column;
        width: 500px;
        column-gap: 10px;

        mat-card-actions {
            div {
                position: absolute;
                left: 10px;
                bottom: 10px;
            }
        }
    }

    .text_block_review {
        display: flex;
        flex-direction: column;
    }
}

.user_image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.nickname_date_review {
    font-size: 14px;
    font-weight: 500;
}

h1 {
    text-align: center;
    margin-top: 15px;
}

.img_with_legend_name{
    display: flex;
    gap: 10px;
    align-items: center;
}



@media screen and (max-width: 595px) {
    .review_block {
        mat-card {
            width: 95%;
        }

        .nickname_date_review {
            span {
                display: block
            }
        }
    }
}

@media screen and (max-width: 570px) {
    mat-card {
        flex-direction: column;
    }

    .img_block {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 525px) {
    .review_title_block {
        margin-left: 0px;
        margin-right: 0px;
    }
}