.form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.example-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 15px;
}

.boolean_block {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 20px;
        font-size: 16px;
    }
}

.two_block_weapon{
    display: flex;
    row-gap: 5px;
    column-gap: 15px;
}
.weapon_block{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

@media screen and (max-width: 770px){
    .two_block_weapon{
        flex-direction: column;
    }
}