<!-- <html>

<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
        <div style="margin: 0 auto; width: 90%; text-align: center;">
            <h1 style="background-color: rgba(0, 53, 102, 1); padding: 5px 10px; border-radius: 5px; color: white;">
                Добро пожаловать!</h1>
            <div
                style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
                <h3 style="margin-bottom: 100px; font-size: 24px;">{user.nickname}</h3>
                <p style="margin-bottom: 30px;">Рады видеть вас на сайте, располагайтесь.</p>
                <a style="display: block; margin: 0 auto; border: none; background-color: rgba(255, 214, 10, 1); color: white; width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 10px; cursor: pointer; text-decoration: none;"
                    href="{FRONTEND_URL}" target="_blank">
                    Поехали!
                </a>
            </div>
        </div>
    </div>
</body>

</html>

<html>

<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
        <div style="margin: 0 auto; width: 90%; text-align: center;">
            <h1 style="background-color: rgba(0, 53, 102, 1); padding: 5px 10px; border-radius: 5px; color: white;">
                Уведомление!</h1>
            <div
                style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
                <h3 style="margin-bottom: 100px; font-size: 24px;">{user.nickname}</h3>
                <p style="margin-bottom: 30px;">Вы были повышены до администратора.</p>
                <a style="display: block; margin: 0 auto; border: none; background-color: rgba(255, 214, 10, 1); color: white; width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 10px; cursor: pointer; text-decoration: none;"
                    href="{FRONTEND_URL}" target="_blank">
                    Поехали!
                </a>
            </div>
        </div>
    </div>
</body>

</html>

<html>

<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
        <div style="margin: 0 auto; width: 90%; text-align: center;">
            <h1 style="background-color: rgba(0, 53, 102, 1); padding: 5px 10px; border-radius: 5px; color: white;">
                Уведомление!</h1>
            <div
                style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
                <h3 style="margin-bottom: 100px; font-size: 24px;">Уважаемый пользователь</h3>
                <p style="margin-bottom: 30px;">Только что вы запросили запрос на восстановление пароля, если это не вы,
                    не переходите по ссылке!</p>
                <p style="margin-bottom: 30px;"><strong>Ссылка станет недействительной через 10 минут!</strong></p>
                <a style="display: block; margin: 0 auto; border: none; background-color: rgba(255, 214, 10, 1); color: white; width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 10px; cursor: pointer; text-decoration: none;"
                    href="{f'{RECOVERY_URL}?code={code}'}" target="_blank">
                    Перейти
                </a>
            </div>
        </div>
    </div>
</body>

</html> -->


<html>

<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
        <div style="margin: 0 auto; width: 90%; text-align: center;">
            <h1 style="background-color: rgba(0, 53, 102, 1); padding: 5px 10px; border-radius: 5px; color: white;">
                {{title_message}}</h1>
            <div
                style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
                <h3 style="margin-bottom: 100px; font-size: 24px;">{% if nickname %}{{nickname}}{% else %}Уважаемый пользователь!{% endif %}</h3>
                <p style="margin-bottom: 30px;">{{message}}</p>
                {% if frontend_url %}
                <a style="display: block; margin: 0 auto; border: none; background-color: rgba(255, 214, 10, 1); color: white; width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 10px; cursor: pointer; text-decoration: none;"
                    href="{{frontend_url}}" target="_blank">
                    Перейти
                </a>
                {% endif %}
                {% if recovery_url %}
                <a style="display: block; margin: 0 auto; border: none; background-color: rgba(255, 214, 10, 1); color: white; width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 10px; cursor: pointer; text-decoration: none;"
                    href="{{recovery_url}}?code={{code}}" target="_blank">
                    Перейти
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>